<section>
    <h2>Contact form</h2>
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <label for="email">E-mail</label>
            <input id="email" type="email" required formControlName="email">
        </div>
        <div class="row">
            <label for="subject">Subject</label>
            <input id="subject" type="text" required formControlName="subject">
        </div>
        <div class="row">
            <label for="message">Message</label>
            <textarea id="message" required formControlName="message"></textarea>
        </div>
        <div class="row">
            <button type="reset">Clear</button>
            <button type="button" (click)="fill()">Fill the form</button>
            <button type="submit" [disabled]="!messageForm.valid">Send the message</button>
        </div>
        <div class="row">
            <br>
            <a routerLink="/dashboard">Dashboard</a>
        </div>
    </form>
</section>

<app-confirm-dialog
    title="Potentially data lost"
    message="Do you want to leave without saving the pending changes?"
    [isVisible]="isVisible()"
    i18n-title="@@confirm-dialog-title"
    i18n-message="@@confirm-dialog-message"
    (hasUserConfirmation)="notifyUserChoice($event)">
</app-confirm-dialog>